interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.rememberthemilk.com/services/rest/?method=rtm.test.login&api_key=c90238bdea098efa089dfa9bda082903&auth_token=23d0cfec20adf80e0dddcf395032851085005318&v=2&api_sig=28b051eaf346be4c19f51f299f517157
  response:
    body:
      string: <?xml version='1.0' encoding='UTF-8'?><rsp stat="ok"><user id="7447825"><username>milkymark</username></user></rsp>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      x-s-t:
      - 0 3
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.rememberthemilk.com/services/rest/?method=rtm.time.parse&api_key=c90238bdea098efa089dfa9bda082903&auth_token=23d0cfec20adf80e0dddcf395032851085005318&text=jun+19&v=2&api_sig=89dc56489de53e0ad4c71a9073636ef2
  response:
    body:
      string: <?xml version='1.0' encoding='UTF-8'?><rsp stat="ok"><time precision="date">2022-06-19T00:00:00Z</time></rsp>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      x-s-t:
      - 0 5
    status:
      code: 200
      message: OK
version: 1
