interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.rememberthemilk.com/services/rest/?method=rtm.auth.getFrob&api_key=c90238bdea098efa089dfa9bda082903&v=2&api_sig=7eada74e857ee67b2de11708dc72e475
  response:
    body:
      string: <?xml version='1.0' encoding='UTF-8'?><rsp stat="ok"><frob>85cfb0d6aece75f477f99c1afe4b8d006977244e</frob></rsp>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      x-s-t:
      - 0 4
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.rememberthemilk.com/services/rest/?api_key=c90238bdea098efa089dfa9bda082903&frob=85cfb0d6aece75f477f99c1afe4b8d006977244e&method=rtm.auth.getToken&v=2&api_sig=941207d12bfe35810caa97b6606ef2c8
  response:
    body:
      string: <?xml version='1.0' encoding='UTF-8'?><rsp stat="ok"><auth><token>23d0cfec20adf80e0dddcf395032851085005318</token><perms>write</perms><user
        id="7447825" username="milkymark" fullname="Milky Mark"/></auth></rsp>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      x-s-t:
      - 0 7
    status:
      code: 200
      message: OK
version: 1
