interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.rememberthemilk.com/services/rest/?api_key=c90238bdea098efa089dfa9bda082903&auth_token=23d0cfec20adf80e0dddcf395032851085005318&format=json&method=rtm.auth.checkToken&v=2&api_sig=8c272eb5ce9f1a16be5da67430a43460
  response:
    body:
      string: '{"rsp":{"stat":"fail","err":{"code":"98","msg":"Login failed / Invalid
        auth token"}}}'
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
      x-s-t:
      - 0 2
    status:
      code: 200
      message: OK
version: 1
