interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.rememberthemilk.com/services/rest/?method=rtm.settings.getList&v=2
  response:
    body:
      string: <?xml version='1.0' encoding='UTF-8'?><rsp stat="ok"><settings><timezone>Europe/London</timezone><dateformat>0</dateformat><timeformat>0</timeformat><defaultlist></defaultlist><defaultduedate>today</defaultduedate><pro>0</pro><language>en-GB</language></settings></rsp>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      x-s-t:
      - 0 5
    status:
      code: 200
      message: OK
version: 1
