interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.rememberthemilk.com/services/rest/?method=rtm.lists.getList&v=2
  response:
    body:
      string: <?xml version='1.0' encoding='UTF-8'?><rsp stat="ok"><lists><list id="48801462"
        name="Inbox" deleted="0" locked="1" archived="0" position="-1" smart="0" sort_order="0"
        permission="owner"/><list id="48801463" name="Sent" deleted="0" locked="1"
        archived="0" position="1" smart="0" sort_order="0" permission="owner"/><list
        id="48801464" name="Personal" deleted="0" locked="0" archived="0" position="0"
        smart="0" sort_order="0" permission="owner"/><list id="48801465" name="Work"
        deleted="0" locked="0" archived="0" position="0" smart="0" sort_order="0"
        permission="owner"/></lists></rsp>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      x-s-t:
      - 0 4
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.rememberthemilk.com/services/rest/?method=rtm.timelines.create&v=2
  response:
    body:
      string: <?xml version='1.0' encoding='UTF-8'?><rsp stat="ok"><timeline>1804128934</timeline></rsp>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      x-s-t:
      - 0 2
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.rememberthemilk.com/services/rest/?method=rtm.lists.add&name=Home&timeline=1804128934&v=2
  response:
    body:
      string: <?xml version='1.0' encoding='UTF-8'?><rsp stat="ok"><transaction id="18578443703"
        undoable="0"/><list id="50782203" name="Home" deleted="0" locked="0" archived="0"
        position="0" smart="0" sort_order="0" permission="owner"/></rsp>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      x-s-t:
      - 0 57
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.rememberthemilk.com/services/rest/?filter=priority%3A1&method=rtm.lists.add&name=High+Priority&timeline=1804128934&v=2
  response:
    body:
      string: <?xml version='1.0' encoding='UTF-8'?><rsp stat="ok"><transaction id="18578443738"
        undoable="0"/><list id="50782204" name="High Priority" deleted="0" locked="0"
        archived="0" position="0" smart="1" sort_order="0"><filter>priority:1</filter></list></rsp>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      x-s-t:
      - 0 3
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.rememberthemilk.com/services/rest/?list_id=50782203&method=rtm.lists.delete&timeline=1804128934&v=2
  response:
    body:
      string: <?xml version='1.0' encoding='UTF-8'?><rsp stat="ok"><transaction id="18578443774"
        undoable="1"/><list id="50782203" name="Home" deleted="1" locked="0" archived="0"
        position="0" smart="0" sort_order="0" permission="owner"/></rsp>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      x-s-t:
      - 0 31
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.rememberthemilk.com/services/rest/?method=rtm.lists.getList&v=2
  response:
    body:
      string: <?xml version='1.0' encoding='UTF-8'?><rsp stat="ok"><lists><list id="48801462"
        name="Inbox" deleted="0" locked="1" archived="0" position="-1" smart="0" sort_order="0"
        permission="owner"/><list id="48801463" name="Sent" deleted="0" locked="1"
        archived="0" position="1" smart="0" sort_order="0" permission="owner"/><list
        id="48801464" name="Personal" deleted="0" locked="0" archived="0" position="0"
        smart="0" sort_order="0" permission="owner"/><list id="48801465" name="Work"
        deleted="0" locked="0" archived="0" position="0" smart="0" sort_order="0"
        permission="owner"/><list id="50782204" name="High Priority" deleted="0" locked="0"
        archived="0" position="0" smart="1" sort_order="0"><filter>priority:1</filter></list></lists></rsp>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      x-s-t:
      - 0 3
    status:
      code: 200
      message: OK
version: 1
